
body{
    background-color: #5D5A7B;
}

.seccion{
    background-color: #8D89A9;
    margin: 20px;
    overflow: hidden;
}

.seccion1{
    background-color: #8D89A9;
    margin: 20px;
    overflow: hidden;
    text-align: center;
}
.seccion2{
    content: "";
    clear: both;
    display: table;
    margin: 20px;
    width: 100%;
}


.end{
    background-color: #706C93;
    margin: 20px;
}

p{
color:rgb(255, 255, 255);
font-family:Helvetica, sans-serif;
font-size:14px;
}

p.video{
    color:rgb(255, 255, 255);
    font-family:Helvetica, sans-serif;
    font-size:14px;
    float: left;
    width: 50%;
}

h2{
color:rgb(255, 255, 255);
font-family:Helvetica, sans-serif;
}

h3{
color:rgb(255, 255, 255);
font-family:Helvetica, sans-serif;

}

h3.video{
    color:rgb(255, 255, 255);
    font-family:Helvetica, sans-serif;
    float: left;
    width: 50%;
    text-align: center;
    text-decoration: underline;
}

ul.cab{
    background-color: #706C93;
    margin: 20px;
    padding: 0px;
    overflow: hidden;
    list-style-type: none;

}

li.elem{
    border-right: 2px solid white;
    float: left;
    text-align: center;
    padding: 15px;
    color: white;
    font-size: 25px;

}

a.barra:link{
    color: white;
    text-decoration: none;
}

a.barra:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a.barra:hover{
    color:black;
    background-color:#e0dfe8;
    text-decoration: none;
    padding: 17px;

}

img.cent{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.video{
    margin-left: 50px;
    margin-right: 50px;
    width: 500px;
    height: 250px;
}




