<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body class="bg-gray-800  font-mono  font-normal text-slate-50">
    <div class="container mx-auto">
    <br>
    <ul class="text-lg bg-gray-500 flex items-center space-x-6 rounded-3xl self-center px-4 py-2">
        <li class="hover:bg-slate-200 hover:text-black  px-3 py-2 rounded-md"><a class="barra" href="/">HOME</a></li>
        <li class="hover:bg-slate-200 hover:text-black  px-3 py-2 rounded-md"><a class="barra" href="info">INFO</a></li>
        <li class="hover:bg-slate-200 hover:text-black  px-3 py-2 rounded-md"><a class="barra" href="audio">AUDIO</a> </li>
        <li class="hover:bg-slate-200 hover:text-black  px-3 py-2 rounded-md"><a class="barra" href="videos">VIDEOS</a></li>
        <li class="hover:bg-slate-200 hover:text-black  px-3 py-2 rounded-md"><a class="barra" href="otrosProyectos">OTROS PROYECTOS</a></li>
      </ul>
      <br>

      <div class="bg-zinc-600 text-center container mx-auto px-4">
        <h2 class=" text-2xl p-5  font-bold ">Sergio Sergio Sergio </h2>
        <h3 class="underline">Editor de video, audio y rol</h3>
        <div class='flex items-center justify-center'>
          <img class="object-center" src="/img/kojima.jpg" alt="Foto de Sergio" width="600px" height="300px" class="cent"> </img>
        </div>
        <div >
          Texto normal de ejemplo, Bla bla bla bla.
          Me gusta escribir cosas
          <br>
          Soy más de esperar a que el ascensor baje para  subir por las escaleras
          1,2,3 el escondite ingles o era frances? No me acuerdo
          <br>
          Más TEXTO AAAAAAAAAAAAAAAAA
        </div>

        <br>
        <br>
        <br>
      </div>
    </div>  
</body>
</html>