<!DOCTYPE html>
<html lnang="es" title="SergioWebInfo">
<head>
<link rel="stylesheet" href="estilo.css">
<link rel="stylesheet" href="/dist/output.css" >

</head>

<body>
  <ul class="bg-red-800">
    <li class="elem"><a class="barra" href="/">HOME</a></li>
    <li class="elem"><a class="barra" href="info">INFO</a></li>
    <li class="elem"><a class="barra" href="audio">AUDIO</a> </li>
    <li class="elem"><a class="barra" href="videos">VIDEOS</a></li>
    <li class="elem"><a class="barra" href="otrosProyectos">OTROS PROYECTOS</a></li>
  </ul>
  <div class="seccion">
    <h2 style="text-align:center;">CURRICULUM INFO </h1>
  </div>
  <div class="end">
    <br>
    <br>
    <br>
  </div>

</body>
</html>