<!DOCTYPE html>
<html lnang="es" title="SergioWebVideos">
<head>
<link rel="stylesheet" href="estilo.css">
<link rel="stylesheet" href="/dist/output.css" >

</head>

<body>
  <ul class="cab">
    <li class="elem"><a class="barra" href="/">HOME</a></li>
    <li class="elem"><a class="barra" href="info">INFO</a></li>
    <li class="elem"><a class="barra" href="audio">AUDIO</a> </li>
    <li class="elem"><a class="barra" href="videos">VIDEOS</a></li>
    <li class="elem"><a class="barra" href="otrosProyectos">OTROS PROYECTOS</a></li>
  </ul>
  <div class="seccion">

    <a href="https://www.youtube.com/channel/UCStXGT6ztobCiBmpauL0SNg/videos">
      <h2 style="text-align:center;">VIDEOS</h2>
    </a>

    <a href="https://www.youtube.com/watch?v=A-HjvAx5N_A&ab_channel=%C2%A1Hastaelvideojuegoym%C3%A1sall%C3%A1%21">
      <img src="imagenes/kojima.jpg" alt="Foto de Sergio" class="video"> 
    </a>
    <a href="https://www.youtube.com/watch?v=hj5KrCgd9Sk&ab_channel=%C2%A1Hastaelvideojuegoym%C3%A1sall%C3%A1%21">
    <img src="imagenes/kojima2.jpg" alt="Foto de Sergio" class="video"> 
    </a>
    <div class="seccion2">
      <h3 class="video" > Video 1</h3>
      <h3 class="video"> Video 2</h3>
    </div>
    <p class="video"> Este video he participado como editor de audio <br> de los sonidos de disparo</p>
    <p class="video"> Aqui sufri muchisimo</p>
    <div class="seccion2">
      <h3 class="video"> Video 3</h3>
      <h3 class="video"> Video 4</h3>
    </div>
    <p class="video"> Yo puse ese efecto de luz tope guapo</p>
    <p class="video"> Aqui no hice mucho</p>
  </div>

  <div class="end">
    <br>
    <br>
    <br>
  </div>

</body>
</html>