<!DOCTYPE html>
<html lnang="es" title="SergioWebVideos">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Info Extra</title>
<link rel="stylesheet" href="css/style.css">
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-800  font-mono  font-normal text-slate-50">
  <div class="container mx-auto">
    <!--Principio de Barra de Busqueda-->
    <br>
    <ul class="text-lg bg-gray-500 flex items-center space-x-6 rounded-3xl self-center px-4 py-2">
        <li class="hover:bg-slate-200 hover:text-black  px-3 py-2 rounded-md"><a class="barra" href="/">HOME</a></li>
        <li class="hover:bg-slate-200 hover:text-black  px-3 py-2 rounded-md"><a class="barra" href="info">INFO</a></li>
        <li class="hover:bg-slate-200 hover:text-black  px-3 py-2 rounded-md"><a class="barra" href="audio">AUDIO</a> </li>
        <li class="hover:bg-slate-200 hover:text-black  px-3 py-2 rounded-md"><a class="barra" href="videos">VIDEOS</a></li>
        <li class="hover:bg-slate-200 hover:text-black  px-3 py-2 rounded-md"><a class="barra" href="otrosProyectos">OTROS PROYECTOS</a></li>
    </ul>
    <br>
    <!--Fin de Barra de Busqueda-->

    <!--Principio de Canal de Youtube Original-->

    <div class="bg-zinc-600 container mx-auto px-4 ">
        <br>
        <h2 class="text-3xl px-5  pb-1 font-bold text-center  ">Más sobre mi</h2>
        <br>
        <h2 class="text-2xl px-5  pb-2 font-bold text-left hover:animate-bounce ">Experiencia </h2>
        <div class="px-12 text-lg">
            Hola buenas tardes
            <br>
            LALALALA        MEEEEEEEMEMEME  Hey estoy escribiendo mucho puede que sea interesante hehehe  No se que diablos quieres que te diga en fin la hipotenufa-stack
            <br>
            MECACHIS
            <br>
        </div>
        
        <h2 class="text-2xl px-5 pt-8 pb-2 font-bold text-left hover:animate-bounce">Estudios </h1>
        <div class="px-12 text-lg">
            Hola buenas tardes
            <br>
            LALALALA        MEEEEEEEMEMEME  Hey estoy escribiendo mucho puede que sea interesante hehehe  No se que diablos quieres que te diga en fin la hipotenufa-stack
            <br>
            MECACHIS
            <br>
        </div>
          
        <h2 class="text-2xl px-5 pt-8 pb-2 font-bold text-left hover:animate-bounce">Conocimientos </h1>
        <div class="px-12 text-lg">
            Hola buenas tardes
            <br>
            LALALALA        MEEEEEEEMEMEME  Hey estoy escribiendo mucho puede que sea interesante hehehe  No se que diablos quieres que te diga en fin la hipotenufa-stack
            <br>
            MECACHIS
            <br>
        </div>
          
        <h2 class="text-2xl px-5 pt-8 pb-2 font-bold text-left hover:animate-bounce">Herramientas que uso</h1>
        <div class="px-12 text-lg">
            Hola buenas tardes
            <br>
            LALALALA        MEEEEEEEMEMEME  Hey estoy escribiendo mucho puede que sea interesante hehehe  No se que diablos quieres que te diga en fin la hipotenufa-stack
            <br>
            MECACHIS
            <br>
        </div>

        <h2 class="text-2xl px-5 pt-8 pb-2 font-bold text-left hover:animate-bounce">Datos de contacto </h1>
        <div class="px-12 text-lg">
            Hola buenas tardes
            <br>
            LALALALA        MEEEEEEEMEMEME  Hey estoy escribiendo mucho puede que sea interesante hehehe  No se que diablos quieres que te diga en fin la hipotenufa-stack
            <br>
            MECACHIS
            <br>
        </div>
          
          
        <!--Espacio final de la página -->
        <br>
        <br>
    </div>

  </div>  

  <br>
  <br>
</body>
</html>